<h1>Listing commitments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Tag</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commitments.each do |commitment| %>
      <tr>
        <td><%= commitment.description %></td>
        <td><%= commitment.tag %></td>
        <td><%= commitment.user %></td>
        <td><%= link_to 'Show', commitment %></td>
        <td><%= link_to 'Edit', edit_commitment_path(commitment) %></td>
        <td><%= link_to 'Destroy', commitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commitment', new_commitment_path %>
