<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @commitment.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @commitment.tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @commitment.user %>
</p>

<%= link_to 'Edit', edit_commitment_path(@commitment) %> |
<%= link_to 'Back', commitments_path %>
